block extrastuff
head
  title= "Form"
  style
      include ../css/style.css

block content
h1= header
form(action='/api/save' method='post')/
div
  input.btn(type="submit" value="Submit")/
  span= "  "
  a(class='btn black' href='/') Back
  br

div
  label= "ID: "
  input(value="" type="text" name="id")/

div
  label= "Login: "
  input(value="" type="text" name="login")/

div
  label= "Avatar Url: "
  input(value="" type="text" name="avatar_url")/

div
  label= "Gravatar ID: "
  input(value="" type="text" name="gravatar_id")/

div
  label= "URL: "
  input(value="" type="text" name="url")/

div
  label= "HTML URL: "
  input(value="" type="text" name="html_url")/

div
  label= "Followers URL: "
  input(value="" type="text" name="followers_url")/

div
  label= "Following URL: "
  input(value="" type="text" name="following_url")/

div
  label= "Gists URL: "
  input(value="" type="text" name="gists_url")/

div
  label= "Starred URL: "
  input(value="" type="text" name="starred_url")/

div
  label= "Subscriptions URL: "
  input(value="" type="text" name="subscriptions_url")/

div
  label= "Organizations URL: "
  input(value="" type="text" name="organizations_url")/

div
  label= "Repos URL: "
  input(value="" type="text" name="repos_url")/

div
  label= "Events URL: "
  input(value="" type="text" name="events_url")/

div
  label= "Received Events URL: "
  input(value="" type="text" name="received_events_url")/

div
  label= "Type: "
  input(value="" type="text" name="type")/

div
  label= "Site Admin: "
  select(name="site_admin")
    option(value='false', selected= ) False
    option(value='true') True
